.header {
   height: 95vh;
   background-image: linear-gradient(to right bottom, #7ed56fad, #28b485ab),
      url(../img/hero.jpg);
   background-size: cover;
   background-position: top;
   clip-path: polygon(0 0, 0 100%, 100% 85%, 100% 0);
   /* clip-path: polygon(0 0, 0 100%, 100% 60%); */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   row-gap: 20px;
}