// COLOR
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b4f5;
$color-grey-dark: #777;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;


// GRID
$grid-width: 114rem;
$grid-margin: 8rem;
$gird-gutter: 5rem;
